body, .navbar, button {
  font-family: 'Degular Demo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Degular Demo', sans-serif;
}

p {
  font-family: 'Degular Demo', sans-serif;
}

/* Add any additional selectors for other display text as needed */
